@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.sectionContainer {
    background-color: var(--white-color);
    overflow: hidden;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.track {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: max-content;
    padding-top: 20px;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.logo {
    padding: 0 25px;
}

.logo img {
    display: block;
    width: 100px;
}

@media (min-width: 1200px) {
    .logo img {
        width: 150px;
    }
}
