.sectionContainer {
    display: grid;
    grid-template-rows: 60% 40%;
    height: calc(100svh - 66px);
    background-color: var(--dark-color);
}

.sectionTitle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sectionTitle h1 {
    z-index: 2;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    color: var(--yellow-color);
    font-size: 58px;
}

.foodie {
    color: var(--white-color);
}

.fondoTitle {
    position: absolute;
    inset: 0;
    background-image: url('/src/assets/images/sectionNp1/fondo-np-section-1-2.webp');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    opacity: 1;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--white-color);
    width: 100%;
    padding: 20px;
}

.sectionContenido p {
    color: var(--dark-color);
    max-width: 335px;
    font-size: 16px;
}

@media (min-width: 576px) {
    .sectionContenido p {
        max-width: 530px;
    }
}

@media (min-width: 768px) {
    .sectionContainer {
        grid-template-rows: 75% 25%;
        height: calc(100svh - 74px);
    }

    .sectionTitle h1 {
        font-size: 88px;
    }

    .sectionContenido p {
        max-width: 620px;
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        grid-template-rows: 70% 30%;
        height: calc(100svh - 98px);
    }
    .sectionTitle h1 {
        font-size: 118px;
    }

    .sectionContenido p {
        max-width: 750px;
        font-size: 22px;
    }
}
