.boton-1,
.boton-2 {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    border-radius: 75px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    background: var(--yellow-color);
    color: var(--dark-color);
    padding: 5px 20px;
    font-size: 18px;
}

.boton-2 {
    min-height: 37px;
    min-width: 92px;
    padding-bottom: 10px;
}

.boton-1:hover {
    background: var(--white-color);
}

.boton-1:active {
    transform: scale(0.9);
}

@media (min-width: 992px) {
    .boton-1,
    .boton-2 {
        padding: 5px 30px;
        font-size: 20px;
    }

    .boton-2 {
        min-height: 39px;
        min-width: 117px;
        padding-bottom: 10px;
    }
}

@media (min-width: 1400px) {
    .boton-1,
    .boton-2 {
        padding: 5px 40px;
        font-size: 24px;
    }

    .boton-2 {
        min-height: 44px;
        min-width: 149px;
        padding-bottom: 10px;
    }
}
