:root {
    --dark-color: #000000;
    --gray-color: #9d9d9d;
    --gray-color-2: #d0cec8;
    --gray-color-3: #bbbab6;
    --gray-color-4: #383836;
    --white-color: #ffffff;
    --yellow-color: #fff526;
    --shadow-color: rgba(0, 0, 0, 0.3);
}
