.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    gap: 60px;
}

.sectionTitulo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--white-color);
    gap: 10px;
    width: 345px;
}

.sectionTitulo h1 {
    letter-spacing: 1px;
    line-height: 1;
    font-size: 32px;
}

.sectionTitulo p {
    font-size: 16px;
}

.sectionForm {
    width: 325px;
}

@media (min-width: 768px) {
    .sectionContainer {
        flex-direction: row;
        align-items: start;
        padding: 60px 0px;
        gap: 40px;
    }
}

@media (min-width: 992px) {
    .sectionContainer {
        gap: 80px;
    }

    .sectionForm {
        width: 550px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        padding: 80px 0px;
        gap: 150px;
    }

    .sectionTitulo {
        gap: 20px;
        width: 435px;
    }

    .sectionTitulo h1 {
        font-size: 52px;
    }

    .sectionTitulo p {
        font-size: 20px;
    }

    .sectionForm {
        width: 600px;
    }
}
