.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100dvh - 294px);
    padding-top: 120px;
    padding-bottom: 50px;
}

.sectionTitulo {
    z-index: 1;
    color: var(--white-color);
    text-align: center;
    width: 325px;
}

.sectionTitulo h1 {
    font-size: 32px;
    letter-spacing: 1.5px;
}

.sectionTitulo h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sectionTitulo p {
    color: var(--white-color);
    margin-bottom: 40px;
    font-size: 16px;
}

@media (min-width: 576px) {
    .sectionTitulo {
        width: 490px;
    }

    .sectionTitulo p {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .sectionContainer {
        min-height: calc(100dvh - 299px);
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        min-height: calc(100dvh - 323px);
    }
}
