.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}

.sectionTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
    gap: 10px;
}

.sectionTitulo img {
    user-select: none;
    pointer-events: none;
    width: 100px;
}

.sectionTitulo h1 {
    letter-spacing: 1px;
    line-height: 1.1;
    font-size: 22px;
}

.sectionContenido {
    width: 320px;
    padding: 20px 0;
    gap: 20px;
}

.sectionContenido h3 {
    letter-spacing: 2px;
    line-height: 1.1;
    color: var(--white-color);
    font-size: 18px;
    margin-bottom: 10px;
}

.sectionContenido p,
.sectionContenido li {
    color: var(--white-color);
}

.sectionContainer hr,
.sectionContenido hr {
    background-color: var(--yellow-color);
    border: none;
    border-radius: 10px;
    height: 2px;
    opacity: 0.5;
}

.sectionContainer hr {
    width: 80%;
    margin-top: 40px;
}

.sectionContenido hr {
    width: 100%;
    margin: 20px 0;
}

.sectionContenido ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 15px;
    gap: 5px;
    padding: 30px 0;
}

.sectionContenido li {
    margin-top: 10px;
}

.sectionContenido > .faqItem:nth-child(11) {
    margin-bottom: 0px;
}

@media (min-width: 576px) {
    .sectionContenido {
        width: 500px;
    }
}

@media (min-width: 768px) {
    .sectionTitulo {
        margin-bottom: 30px;
    }

    .sectionTitulo h1 {
        font-size: 28px;
    }

    .sectionContenido {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .sectionTitulo img {
        width: 250px;
    }

    .sectionContenido {
        padding: 30px 0;
        gap: 30px;
    }

    .sectionContainer hr {
        margin-top: 50px;
    }

    .sectionContenido hr {
        margin: 20px 0;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding: 60px 0px;
    }

    .sectionContenido {
        width: 900px;
    }

    .sectionContenido h3 {
        font-size: 24px;
    }

    .sectionContenido p,
    .sectionContenido li {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        padding: 80px 0px;
    }

    .sectionTitulo img {
        width: 300px;
    }

    .sectionTitulo h1 {
        font-size: 62px;
    }

    .sectionContenido h3 {
        font-size: 28px;
    }

    .sectionContenido {
        padding: 40px 0;
        gap: 40px;
        width: 1100px;
    }

    .sectionContenido p,
    .sectionContenido li {
        font-size: 22px;
    }

    .sectionContainer hr {
        margin-top: 80px;
    }

    .sectionContenido hr {
        margin: 40px 0;
    }
}
