.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}

.sectionTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
    gap: 5px;
}

.sectionTitulo img {
    user-select: none;
    pointer-events: none;
    width: 100px;
}

.sectionTitulo h1 {
    letter-spacing: 1px;
    line-height: 1.1;
    font-size: 28px;
}

.sectionTitulo h2 {
    font-size: 20px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 355px;
    padding: 20px 0px;
    gap: 20px;
}

.sectionContenido p {
    color: var(--white-color);
}

.sectionContenido a {
    text-decoration: none;
    color: var(--yellow-color);
}

.sectionContainer hr {
    background-color: var(--yellow-color);
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 2px;
    opacity: 0.5;
    margin-top: 40px;
}

@media (min-width: 576px) {
    .sectionContenido {
        text-align: justify;
        width: 550px;
    }
}

@media (min-width: 768px) {
    .sectionTitulo h1 {
        font-size: 32px;
    }

    .sectionContenido {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .sectionTitulo img {
        width: 250px;
    }

    .sectionContenido {
        padding: 30px 0;
        gap: 30px;
    }

    .sectionContainer hr {
        margin-top: 50px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding: 60px 0px;
    }

    .sectionTitulo h1 {
        font-size: 42px;
    }

    .sectionTitulo h2 {
        font-size: 26px;
    }

    .sectionContenido {
        width: 900px;
    }

    .sectionContenido p {
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .sectionTitulo img {
        width: 300px;
    }

    .sectionTitulo h1 {
        font-size: 52px;
    }

    .sectionTitulo h2 {
        font-size: 32px;
    }

    .sectionContenido {
        width: 1200px;
    }

    .sectionContenido p {
        font-size: 22px;
    }

    .sectionContainer hr {
        margin-top: 80px;
    }
}
