.linkContainer {
    text-decoration: none;
}

.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
    height: 250px;
}

.sectionContenido {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionContenido h2 {
    letter-spacing: 2px;
    color: var(--yellow-color);
    font-size: 32px;
}

.flecha {
    position: absolute;
    z-index: 1;
    color: var(--yellow-color);
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
}

.sectionFondo {
    position: absolute;
    background-image: url('/src/assets/images/fondo-lp-section-7-2.png');
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    opacity: 0.3;
}

@media (min-width: 768px) {
    .sectionContainer {
        height: 300px;
    }

    .sectionContenido h2 {
        font-size: 48px;
    }
}

@media (min-width: 992px) {
    .sectionContenido h2 {
        font-size: 54px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        height: 500px;
    }

    .sectionContenido h2 {
        font-size: 60px;
    }

    .flecha {
        width: 80px;
        height: 80px;
    }

    .sectionContainer:hover h2 {
        color: var(--white-color);
    }

    .sectionContainer:hover .flecha {
        color: var(--white-color);
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        height: 600px;
    }

    .sectionContenido h2 {
        font-size: 82px;
    }

    .flecha {
        width: 80px;
        height: 80px;
    }
}
