.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--dark-color);
    min-height: calc(100svh - 70px);
}

.sectionTitle {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(70svh - 70px);
}

.sectionTitle h1 {
    z-index: 2;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    color: var(--yellow-color);
    font-size: 58px;
}

.foodie {
    color: var(--white-color);
}

.fondoTitle {
    position: absolute;
    background-image: url('/src/assets/images/fondo-np-section-1-1.png');
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--white-color);
    width: 100%;
    min-height: calc(40svh - 70px);
    padding: 20px;
}

.sectionContenido p {
    color: var(--dark-color);
    width: 335px;
    font-size: 16px;
}

@media (min-width: 576px) {
    .sectionContenido p {
        width: 530px;
    }
}

@media (min-width: 768px) {
    .sectionContainer {
        min-height: calc(100svh - 65px);
    }

    .sectionTitle {
        min-height: calc(70svh - 65px);
    }

    .sectionTitle h1 {
        font-size: 88px;
    }

    .sectionContenido {
        min-height: calc(40svh - 65px);
    }

    .sectionContenido p {
        width: 620px;
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        min-height: calc(100svh - 70px);
    }

    .sectionTitle {
        min-height: calc(70svh - 90px);
    }

    .sectionTitle h1 {
        font-size: 118px;
    }

    .sectionContenido {
        min-height: calc(40svh - 90px);
    }

    .sectionContenido p {
        width: 750px;
        font-size: 22px;
    }
}
