.sectionContainer {
    background-image: url('/src/assets/images/fondo-lp-section-1-3.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100svh - 69px);
    padding-top: 40px;
}

.contenido1 h1 {
    line-height: 1.05;
    letter-spacing: 2px;
    font-size: 66px;
    margin-bottom: -10px;
}

.titulo1 {
    color: var(--yellow-color);
}

.titulo2 {
    color: var(--white-color);
}

.contenido1 img {
    /* filter: drop-shadow(0px 0px 50px var(--dark-color)); */
    margin-bottom: -15px;
    width: 340px;
}

.contenido2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-color);
    box-shadow: 0 -4px 10px var(--shadow-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    padding: 0 20px;
    padding-top: 40px;
    gap: 20px;
}

.contenido2 p {
    color: var(--white-color);
    font-size: 16px;
    width: 335px;
}

@media (min-width: 576px) {
    .contenido2 p {
        width: 460px;
    }
}

@media (min-width: 768px) {
    .contenido1 {
        flex-direction: row;
        align-items: end;
        min-height: calc(100svh - 74px);
        padding-top: 60px;
    }

    .contenido1 h1 {
        margin-bottom: 250px;
    }

    .contenido1 img {
        width: 420px;
    }

    .contenido2 {
        padding: 0 20px;
        padding-top: 40px;
        gap: 20px;
    }

    .contenido2 p {
        font-size: 16px;
        width: 624px;
    }
}

@media (min-width: 992px) {
    .sectionContainer {
        background-image: url('/src/assets/images/fondo-lp-section-1-2.png');
    }

    .contenido1 {
        padding-top: 100px;
    }

    .contenido1 h1 {
        margin-bottom: 100px;
        font-size: 82px;
    }

    .contenido1 img {
        width: 500px;
    }

    .contenido2 {
        padding: 0 20px;
        padding-top: 40px;
        gap: 20px;
    }

    .contenido2 p {
        font-size: 18px;
        width: 710px;
    }
}

@media (min-width: 1200px) {
    .contenido1 {
        padding-top: 100px;
        gap: 100px;
    }

    .contenido1 h1 {
        margin-bottom: 100px;
        font-size: 82px;
    }

    .contenido1 img {
        width: 500px;
    }

    .contenido2 {
        padding: 0 20px;
        padding-top: 60px;
        gap: 30px;
    }

    .contenido2 p {
        font-size: 20px;
        width: 780px;
    }
}

@media (min-width: 1400px) {
    .contenido1 {
        min-height: calc(100svh - 94px);
        padding-top: 100px;
        gap: 150px;
    }

    .contenido1 h1 {
        margin-bottom: 100px;
        font-size: 102px;
    }

    .contenido1 img {
        width: 550px;
    }

    .contenido2 {
        padding: 0 20px;
        padding-top: 60px;
        gap: 30px;
    }

    .contenido2 p {
        font-size: 22px;
        width: 870px;
    }
}

@media (min-width: 1700px) {
    .contenido1 {
        padding-top: 100px;
        gap: 150px;
    }

    .contenido1 h1 {
        margin-bottom: 150px;
        font-size: 122px;
    }

    .contenido1 img {
        width: 700px;
    }

    .contenido2 {
        padding: 0 20px;
        padding-top: 60px;
        gap: 30px;
    }

    .contenido2 p {
        font-size: 24px;
        width: 970px;
    }
}
