.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 20px;
}

.sectionContainer h2 {
    color: var(--dark-color);
    letter-spacing: 1px;
    line-height: 1.05;
    font-size: 36px;
}

.sectionContenido {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    stroke: var(--dark-color);
    stroke-width: 2;
    z-index: 1;
}

.items {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px var(--shadow-color));
    width: 160px;
    height: 160px;
    border-radius: 100px;
    padding: 10px;
}

.item1,
.item3,
.item5 {
    background-color: var(--yellow-color);
    color: var(--dark-color);
}

.item2,
.item4 {
    background-color: var(--dark-color);
    color: var(--white-color);
}

.item h3 {
    font-size: 16px;
}

@media (min-width: 992px) {
    .sectionContainer {
        gap: 40px;
    }

    .sectionContainer h2 {
        font-size: 56px;
    }

    .line {
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
    }

    .items {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-top: 60px;
        padding-bottom: 80px;
        gap: 60px;
    }

    .sectionContainer h2 {
        font-size: 62px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer h2 {
        font-size: 70px;
    }

    .items {
        gap: 50px;
    }

    .item {
        width: 180px;
        height: 180px;
    }

    .item h3 {
        font-size: 18px;
    }
}
