.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark-color);
}

.contenido1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100svh - 69px);
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 120px;
}

.contenido1 img {
    position: absolute;
    right: 0;
    bottom: -20px;
    width: 250px;
}

.contenido1 h1 {
    z-index: 1;
    line-height: 1.05;
    letter-spacing: 2px;
    font-size: 66px;
    width: 375p;
    padding-top: 20px;
}

.titulo1 {
    color: var(--yellow-color);
}

.titulo2 {
    color: var(--white-color);
}

.contenido1 h2 {
    z-index: 1;
    color: var(--white-color);
    font-size: 18px;
    margin-right: 30px;
}

.contenido2 {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--dark-color);
    box-shadow: 0 -4px 10px var(--shadow-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    padding: 0 20px;
    padding-top: 40px;
    gap: 20px;
}

.contenido2 p {
    color: var(--white-color);
    font-size: 16px;
    width: 335px;
}

@media (min-width: 576px) {
    .contenido2 p {
        width: 460px;
    }
}

@media (min-width: 768px) {
    .contenido1 {
        justify-content: center;
        min-height: calc(100svh - 74px);
        padding-top: 0;
    }

    .contenido1 img {
        width: 400px;
    }

    .contenido1 h1 {
        padding-top: 0px;
        padding-left: 50px;
        width: 768px;
    }

    .contenido1 h2 {
        position: absolute;
        bottom: 20px;
        width: auto;
        margin-right: 0px;
    }

    .contenido2 p {
        width: 624px;
    }
}

@media (min-width: 992px) {
    .contenido1 h1 {
        width: 992px;
        font-size: 82px;
    }

    .contenido2 p {
        font-size: 18px;
        width: 710px;
    }
}

@media (min-width: 1200px) {
    .contenido2 {
        padding: 0 20px;
        padding-top: 60px;
        gap: 30px;
    }

    .contenido2 p {
        font-size: 20px;
        width: 780px;
    }
}

@media (min-width: 1400px) {
    .contenido1 {
        min-height: calc(100svh - 94px);
    }

    .contenido1 img {
        width: 550px;
    }

    .contenido1 h1 {
        width: 1200px;
        font-size: 102px;
    }

    .contenido1 h2 {
        font-size: 28px;
        bottom: 40px;
    }

    .contenido2 p {
        font-size: 22px;
        width: 870px;
    }
}

@media (min-width: 1700px) {
    .contenido1 h1 {
        width: 1400px;
        font-size: 122px;
    }

    .contenido2 p {
        font-size: 24px;
        width: 970px;
    }
}
