.sectionContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.videoBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    z-index: 1;
}

.controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    z-index: 2;
}

.controls button {
    background: var(--shadow-color);
    color: var(--white-color);
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls svg {
    display: block;
    width: 1em;
    height: 1em;
}

@media (min-width: 1200px) {
    .sectionContainer {
        width: 100%;
        max-height: 100vh;
    }

    .controls {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .sectionContainer:hover .controls {
        opacity: 1;
        pointer-events: auto;
    }

    .controls button {
        font-size: 26px;
    }
}

@media (min-width: 1700px) {
    .controls {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
    }

    .sectionContainer:hover .controls {
        opacity: 1;
        pointer-events: auto;
    }

    .controls button {
        font-size: 32px;
    }
}
