.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--dark-color);
    padding-bottom: 60px;
    gap: 50px;
}

.sectionContainer h2 {
    color: var(--yellow-color);
    letter-spacing: 1px;
    font-size: 36px;
}

.sectionContenido {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 305px;
    margin-right: 10vw;
}

.sectionContenido p {
    position: absolute;
    transform-origin: center;
    display: inline-block;
    color: var(--black-color);
    line-height: 1;
    text-align: center;
    font-size: 16px;
}

.sectionContenido p[data-pos='1'] {
    transform: rotate(-25deg);
    width: 134px;
    right: 115px;
    top: 25px;
}

.sectionContenido p[data-pos='2'] {
    transform: rotate(-8deg);
    width: 171px;
    right: 45px;
    top: 101px;
}

.sectionContenido p[data-pos='3'] {
    transform: rotate(-1deg);
    width: 113px;
    right: 70px;
    top: 165px;
}

.sectionContenido p[data-pos='4'] {
    transform: rotate(15deg);
    width: 104px;
    right: 100px;
    top: 248px;
}

.sectionContenido img {
    position: absolute;
    right: 0;
    width: 850px;
}

@media (min-width: 768px) {
    .sectionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: var(--dark-color);
        padding-bottom: 60px;
        gap: 50px;
    }

    .sectionContainer h2 {
        color: var(--yellow-color);
        letter-spacing: 1px;
        font-size: 50px;
    }

    .sectionContenido {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 305px;
        margin-right: 30vw;
    }

    .sectionContenido p {
        position: absolute;
        transform-origin: center;
        display: inline-block;
        color: var(--black-color);
        line-height: 1;
        text-align: center;
        font-size: 16px;
    }

    .sectionContenido p[data-pos='1'] {
        transform: rotate(-25deg);
        width: 134px;
        right: 115px;
        top: 25px;
    }

    .sectionContenido p[data-pos='2'] {
        transform: rotate(-8deg);
        width: 171px;
        right: 45px;
        top: 101px;
    }

    .sectionContenido p[data-pos='3'] {
        transform: rotate(-1deg);
        width: 113px;
        right: 70px;
        top: 165px;
    }

    .sectionContenido p[data-pos='4'] {
        transform: rotate(15deg);
        width: 104px;
        right: 100px;
        top: 248px;
    }

    .sectionContenido img {
        position: absolute;
        right: 0;
        width: 850px;
    }
}

@media (min-width: 992px) {
    .sectionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: var(--dark-color);
        padding-bottom: 60px;
        gap: 50px;
    }

    .sectionContainer h2 {
        color: var(--yellow-color);
        letter-spacing: 1px;
        font-size: 56px;
    }

    .sectionContenido {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 305px;
        margin-right: 60vw;
    }

    .sectionContenido p {
        position: absolute;
        transform-origin: center;
        display: inline-block;
        color: var(--black-color);
        line-height: 1;
        text-align: center;
        font-size: 16px;
    }

    .sectionContenido p[data-pos='1'] {
        transform: rotate(-25deg);
        width: 134px;
        right: 115px;
        top: 25px;
    }

    .sectionContenido p[data-pos='2'] {
        transform: rotate(-8deg);
        width: 171px;
        right: 45px;
        top: 101px;
    }

    .sectionContenido p[data-pos='3'] {
        transform: rotate(-1deg);
        width: 113px;
        right: 70px;
        top: 165px;
    }

    .sectionContenido p[data-pos='4'] {
        transform: rotate(15deg);
        width: 104px;
        right: 100px;
        top: 248px;
    }

    .sectionContenido img {
        position: absolute;
        right: 0;
        width: 850px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: var(--dark-color);
        padding-bottom: 80px;
        gap: 120px;
    }

    .sectionContainer h2 {
        color: var(--yellow-color);
        letter-spacing: 1px;
        font-size: 62px;
        margin-bottom: -60px;
    }

    .sectionContenido {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 305px;
        margin-right: 45vw;
    }

    .sectionContenido p {
        position: absolute;
        transform-origin: center;
        display: inline-block;
        color: var(--black-color);
        line-height: 1;
        text-align: center;
        font-size: 18px;
    }

    .sectionContenido p[data-pos='1'] {
        transform: rotate(-25deg);
        width: 151px;
        right: 165px;
        top: 35px;
    }

    .sectionContenido p[data-pos='2'] {
        transform: rotate(-8deg);
        width: 192px;
        right: 75px;
        top: 130px;
    }

    .sectionContenido p[data-pos='3'] {
        transform: rotate(-1deg);
        width: 125px;
        right: 95px;
        top: 215px;
    }

    .sectionContenido p[data-pos='4'] {
        transform: rotate(15deg);
        width: 115px;
        right: 140px;
        top: 325px;
    }

    .sectionContenido img {
        position: absolute;
        right: 0;
        width: 1100px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: var(--dark-color);
        padding-bottom: 80px;
        gap: 220px;
    }

    .sectionContainer h2 {
        color: var(--yellow-color);
        letter-spacing: 1px;
        font-size: 70px;
        margin-bottom: -160px;
    }

    .sectionContenido {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 305px;
        margin-right: 55vw;
    }

    .sectionContenido p {
        position: absolute;
        transform-origin: center;
        display: inline-block;
        color: var(--black-color);
        line-height: 1;
        text-align: center;
        font-size: 22px;
    }

    .sectionContenido p[data-pos='1'] {
        transform: rotate(-25deg);
        width: 185px;
        right: 200px;
        top: 40px;
    }

    .sectionContenido p[data-pos='2'] {
        transform: rotate(-8deg);
        width: 234px;
        right: 105px;
        top: 165px;
    }

    .sectionContenido p[data-pos='3'] {
        transform: rotate(-1deg);
        width: 155px;
        right: 105px;
        top: 275px;
    }

    .sectionContenido p[data-pos='4'] {
        transform: rotate(15deg);
        width: 137px;
        right: 160px;
        top: 420px;
    }

    .sectionContenido img {
        position: absolute;
        right: 0;
        width: 1400px;
    }
}

@media (min-width: 1930px) {
    .sectionContenido {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 305px;
        margin-right: 89vw;
    }
}
