.sectionContainer {
    position: relative;
    background-color: var(--white-color);
    overflow: hidden;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.cardsContainer::-webkit-scrollbar {
    display: none;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 100%;
    height: auto;
    scroll-snap-align: start;
}

.card img {
    opacity: 0.4;
    width: 100%;
    height: auto;
    display: block;
}

.cardText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--dark-color);
    width: 375px;
    gap: 20px;
}

.cardText h2 {
    letter-spacing: 1px;
    line-height: 1;
    font-size: 32px;
}

.cardText p {
    font-size: 16px;
}

.dots {
    display: flex;
    justify-content: center;
    background-color: var(--dark-color);
    gap: 10px;
    padding: 20px 0;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: var(--gray-color);
    border-radius: 50%;
    transition: 0.3s;
}

.dot.active {
    background-color: var(--yellow-color);
    transform: scale(1.3);
}

@media (min-width: 576px) {
    .cardText {
        width: 405px;
    }

    .cardText1 {
        top: 50%;
    }

    .cardText2,
    .cardText3 {
        top: 30%;
    }
}

@media (max-width: 1199px) {
    .arrowLeft,
    .arrowRight {
        display: none;
    }
}

@media (min-width: 1200px) {
    .cardText {
        width: 405px;
        gap: 10px;
    }

    .cardText1 {
        top: 50%;
    }

    .cardText2,
    .cardText3 {
        top: 25%;
    }

    .cardText h2 {
        letter-spacing: 1px;
        line-height: 1;
        font-size: 42px;
    }

    .cardText p {
        font-size: 16px;
    }

    .arrowLeft,
    .arrowRight {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background: var(--shadow-color);
        color: var(--white-color);
        border: none;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        font-size: 24px;
        cursor: pointer;
        transition: 0.3s;
        padding-bottom: 5px;
    }

    .arrowLeft.disabled,
    .arrowRight.disabled {
        opacity: 0.3;
        cursor: default;
        pointer-events: none;
    }

    .arrowLeft:hover,
    .arrowRight:hover {
        background: var(--dark-color);
    }

    .arrowLeft {
        left: 10px;
    }

    .arrowRight {
        right: 10px;
    }

    .dots {
        display: flex;
        justify-content: center;
        background-color: var(--dark-color);
        gap: 20px;
        padding: 30px 0;
    }

    .dot {
        cursor: pointer;
        width: 10px;
        height: 10px;
        background-color: var(--gray-color);
        border-radius: 50%;
        transition: 0.3s;
    }

    .dot.active {
        cursor: default;
        background-color: var(--yellow-color);
        transform: scale(1.3);
    }
}

@media (min-width: 1400px) {
    .cardText {
        width: 600px;
        gap: 10px;
    }

    .cardText1 {
        top: 50%;
    }

    .cardText2,
    .cardText3 {
        top: 25%;
    }

    .cardText h2 {
        letter-spacing: 1px;
        line-height: 1;
        font-size: 72px;
    }

    .cardText p {
        font-size: 20px;
    }
}

@media (min-width: 1930px) {
    .card img {
        width: 100%;
        height: auto;
        display: block;
        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
        mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
    }
}
