.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
}

.sectionContainer h1 {
    color: var(--white-color);
    letter-spacing: 1px;
    line-height: 1.1;
    font-size: 32px;
}

@media (min-width: 576px) {
    .sectionContainer h1 {
        font-size: 42px;
    }
}

@media (min-width: 768px) {
    .sectionContainer h1 {
        font-size: 52px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding: 20px 0;
    }

    .sectionContainer h1 {
        font-size: 62px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer {
        padding: 50px 0;
    }

    .sectionContainer h1 {
        font-size: 82px;
    }
}
