.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    gap: 40px;
}

.sectionContainer p {
    color: var(--yellow-color);
    width: 300px;
    font-size: 16px;
}

.sectionContainer img {
    user-select: none;
    pointer-events: none;
    width: 250px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.sectionContenido h2 {
    letter-spacing: 1px;
    line-height: 1.1;
    color: var(--white-color);
    font-size: 32px;
}

@media (min-width: 576px) {
    .sectionContainer p {
        width: 510px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        padding-top: 40px;
        padding-bottom: 80px;
        gap: 60px;
    }

    .sectionContainer img {
        width: 300px;
    }

    .sectionContenido h2 {
        font-size: 52px;
    }
}

@media (min-width: 1400px) {
    .sectionContainer {
        padding-top: 60px;
        padding-bottom: 100px;
        gap: 80px;
    }

    .sectionContainer p {
        width: 650px;
        font-size: 20px;
    }

    .sectionContainer img {
        width: 350px;
    }

    .sectionContenido {
        gap: 40px;
    }

    .sectionContenido h2 {
        font-size: 72px;
    }
}
